.divisor {
  width: 4.375rem;
  height: 0.25rem;
  background: rgb(255, 203, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 203, 0, 1) 0%,
    rgba(255, 172, 0, 1) 58%,
    rgba(255, 179, 0, 1) 70%,
    rgba(255, 178, 0, 0) 70%,
    rgba(255, 182, 0, 0) 75%,
    rgba(255, 181, 0, 1) 75%,
    rgba(255, 184, 0, 1) 80%,
    rgba(255, 187, 0, 0) 80%,
    rgba(255, 191, 0, 0) 85%,
    rgba(255, 189, 0, 1) 85%,
    rgba(255, 196, 0, 1) 90%,
    rgba(255, 194, 0, 0) 90%,
    rgba(255, 197, 0, 0) 95%,
    rgba(255, 200, 0, 1) 95%,
    rgba(255, 207, 0, 1) 100%
  );
  border-radius: 0.1875rem;
}
