.checkout-container {
  background-image: url('https://static8.depositphotos.com/1298561/974/v/450/depositphotos_9747631-stock-illustration-seamless-food-pattern.jpg');
  background-size: contain;
  padding: 0.25rem;
}
