.background-login {
  background-image: url('https://st3.depositphotos.com/13324256/16372/i/450/depositphotos_163729864-stock-photo-fresh-vegetables-background.jpg');
  background-size: cover;
  background-position: center;
  height: 93vh;
}
.login-card {
  transition: box-shadow 0.5s;
  &:hover {
    box-shadow: 0px 0px 10px 10px var(--clr-primary-500);
    cursor: pointer;
  }
}
.login-form-container {
  padding-top: 12rem;
  @media screen and (max-width: 991px) {
    padding-top: 10rem;
  }
}

.login-btn {
  @media screen and (max-width: 1400px) {
    font-size: 0.825rem;
  }
  @media screen and (max-width: 1200px) {
    font-size: 0.725rem;
  }
  @media screen and (max-width: 991px) {
    font-size: 0.525rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 0.725rem;
  }
}
