.background-register {
  background-image: url('https://img.freepik.com/premium-photo/set-colored-spices-bowls-herbs-black-stone-background-view-from-top-view_187166-28543.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60.125rem;
}
